<h2>Login</h2>

<form name="loginForm">
    <a id="googleLogin" href="/auth/google">Login with Google</a>
    <br/><a id="twitterLogin" href="/auth/twitter">Login with Twitter</a>
    <br/><a id="facebookLogin" href="/auth/facebook">Login with Facebook</a>

    <p>Or</p>

    <p>Username: <input type="text" data-ng-model="user.username"></p>
    <p>Password: <input type="text" data-ng-model="user.password"></p>
    <button type="button" data-ng-click="login()" id="loginBtn">Login</button>
</form>