---
swagger: '2.0'
info:
  version: 1.0.0
  title: Deeltijd API
host: server3.tezzt.nl:13000
basePath: /
paths:
  /login:
    post:
      responses:
        200:
          description: login successfull
        401:
          description: error logging in
      parameters:
        - name: username
          in: formData
          description: Email address of the user
          type: string
          required: true
        - name: password
          in: formData
          description: Password of the user
          type: string
          required: true
  /auth/twitter:
      get:
        responses:
          302:
            description: redirected to the twitter login page
  /auth/facebook:
      get:
        responses:
          302:
            description: redirected to the facebook login page
  /auth/google:
      get:
        responses:
          302:
            description: redirected to the google login page
  /logout:
    get:
      responses:
        200:
          description: logout
  /help:
    get:
      responses:
        200:
          description: this help file
  /users:
    get:
      responses:
        200:
          description: list of all users or fetch one user
      parameters:
        - name: id
          in: path
          description: ID of user to get
          type: string
          required: false
    post:
      responses:
        200:
          description: adds a new user
      parameters:
        - name: username
          in: formData
          description: Email address of the user
          type: string
          required: true
        - name: password
          in: formData
          description: Password of the user
          type: string
          required: true
